# Node
node_modules/
frontend/node_modules/
dist/
frontend/dist/
dist-ssr/
frontend/dist-ssr/
*.local

# Python / Backend
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
*.sqlite3
*.db

# IDEs
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
