# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
backend/.venv/
.venv/
env/
venv/
ENV/

# Database
*.db
*.sqlite
*.sqlite3

# Testing & Cache
.pytest_cache/
.coverage
htmlcov/

# Environment variables
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# Node / Frontend
node_modules/
dist/
build/
.npm
